<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                </span>
            {% endset %}
            {{ _('%(username)s said %(when)s',
                username=user_link, when=moment(post.timestamp).fromNow()) }}
            <br>
            <span id="post{{ post.id }}">{{ post.body }}</span>
            {% if post.language and post.language != g.locale %}
            <br><br>
            <span id="translation{{ post.id }}">
                <a href="javascript:translate(
                            '#post{{ post.id }}',
                            '#translation{{ post.id }}',
                            '{{ post.language }}',
                            '{{ g.locale }}');">{{ _('Translate') }}</a>
            </span>
            {% endif %}
            <br><br>
            <div class="text-right">
                <div class="btn-group">
                    <button id="like-btn-{{ post.id }}" type="button" class="btn btn-secondary btn-sm" onclick="likePost('{{ post.id }}')">
                        <i class="far fa-thumbs-up"></i> Like
                    </button>
                    <button id="dislike-btn-{{ post.id }}" type="button" class="btn btn-secondary btn-sm" onclick="dislikePost('{{ post.id }}')">
                        <i class="far fa-thumbs-down"></i> Dislike
                    </button>
                    <button id="laugh-btn-{{ post.id }}" type="button" class="btn btn-secondary btn-sm" onclick="laughPost('{{ post.id }}')">
                        <i class="far fa-thumbs-down"></i> Laugh
                    </button>
                </div>
            </div>
            <script>
                function likePost(postId) {
                    var likeBtn = document.getElementById("like-btn-" + postId);
                    var dislikeBtn = document.getElementById("dislike-btn-" + postId);
                    if (likeBtn.classList.contains("btn-secondary")) {
                        likeBtn.classList.remove("btn-secondary");
                        likeBtn.classList.add("btn-success");
                        dislikeBtn.classList.remove("btn-danger");
                        dislikeBtn.classList.add("btn-secondary");
                    } else {
                        likeBtn.classList.remove("btn-success");
                        likeBtn.classList.add("btn-secondary");
                    }
                }

                function dislikePost(postId) {
                    var likeBtn = document.getElementById("like-btn-" + postId);
                    var dislikeBtn = document.getElementById("dislike-btn-" + postId);
                    if (dislikeBtn.classList.contains("btn-secondary")) {
                        dislikeBtn.classList.remove("btn-secondary");
                        dislikeBtn.classList.add("btn-danger");
                        likeBtn.classList.remove("btn-success");
                        likeBtn.classList.add("btn-secondary");
                    } else {
                        dislikeBtn.classList.remove("btn-danger");
                        dislikeBtn.classList.add("btn-secondary");
                    }
                }

                function laughPost(postId) {
                    var laughBtn = document.getElementById("laugh-btn-" + postId);
                    if (laughBtn.classList.contains("btn-secondary")) {
                        laughBtn.classList.remove("btn-secondary");
                        laughBtn.classList.add("btn-warning");
                    } else {
                        laughBtn.classList.remove("btn-warning");
                        laughBtn.classList.add("btn-secondary");
                    }
                }

                
            </script>
        </td>
    </tr>
</table>
